# Can be generated with: python3 -c "import secrets; print(secrets.token_urlsafe(50))"
DJANGO_SECRET_KEY=django-insecure-changeme
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://username:password@host:5432/dbname
REDIS_URL=redis://:password@host:6379/0