# DS_Store is finder metadata on macOS created automatically when opening a folder in the program.
.DS_Store
.env
.env.*
# Commiting an example .env file is desired for easier onboarding.
!.env.example
*.pem
*.log
.vscode/